
*{
    margin: 0;
    padding: 0;
    
    }
.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    height:109vh;
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo img{
    width: 40px;
    height: 40px;
}

.navigation a{
    position: relative;
    right: 100px;
    color:aqua;
    font-size: 25px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: aqua;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.sidebar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 999;
    background-color: #ffffff2d;
    padding: 1px;
    height: 300px;
}
  
.sidebar .social-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
  }
  
.sidebar .social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
}
  
.sidebar .social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.sidebar .social-icon.linkedin:hover {
    box-shadow: 0 0 10px rgba(32, 58, 224, 0.7), 0 0 20px rgba(32, 58, 224, 0.5), 0 0 30px rgba(32, 58, 224, 0.3);
}
  
.sidebar .social-icon.twitter:hover {
    box-shadow: 0 0 10px rgba(6, 116, 185, 0.7), 0 0 20px rgba(6, 116, 185, 0.5), 0 0 30px rgba(6, 116, 185, 0.3);
}
  
.sidebar .social-icon.github:hover {
    box-shadow: 0 0 10px rgba(246, 42, 110, 0.7), 0 0 20px rgba(246, 42, 110, 0.5), 0 0 30px rgba(246, 42, 110, 0.3);
}
  
  

.main-section{
    position: absolute;
    margin-top: 130px;
    right: 20%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.main-section h1{
    font-size: 80px;    
}

.content{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: #1c1b1b;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.content h1{
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: aqua;
    padding-left:25px;
}
#about{
    margin-top: 5%;
    text-align: center;
}
.profile img{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 25%;
    position: relative;
    border-radius: 50%;
}
.sec01 p{
    color: rgb(234, 233, 241);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    display: grid;
    padding-top: 15px;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    marging-top: 50px;
}
.list div{
    background-color: rgb(50, 175, 248);
    padding: 40px;
    font-weight: 300;
    border-right: 10px;
    transition background : 0.5s, transform 0.5s;
}
.list ul{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.list div:hover{
    background: rgb(255, 0, 102);
    transform: translateY(-10px);
}

#portfolio{
    text-align: center;
}
.sec02{
    display: inline-block;
    margin: 10px;
    position: relative;
} 
.sec02 h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.sec02 img{
    position: inherit;
    width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.sec02 video{
    position: inherit;
    width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.sec02 .tooltip{
    margin-left: 750px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.sec02:hover img{
    transform: scale(1.15);
}
.sec02:hover .tooltip{
    opacity: 1;
}
#contact{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.btn{
    display: inline-block;
    background-color:rgb(255, 0, 102) ;
    margin-left: 20px;
    font-size: 16px;
    padding: 10px;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px;
    bottom: 0;
    border-radius: 50%;
}

aside{
    background-color:  #1c1b1b;
    margin-top: 20px;
    padding: 20px;
    font-size: 28px;
    color: #fff;
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea{
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
input[type="submit"]{
    background-color: #19065f;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: larger;
    margin-left: 165px;
}
input[type="submit"]:hover{
    background-color: #7d2803;
}
form{
    max-width: 400px;
    margin: 0 auto;
}

footer{
    background-color: #696e83;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    position: relative;
    border-radius: 50%;
}
.social-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.social-icon.linkedin:hover{
    box-shadow: 0 0 10px rgba(32, 58, 224, 0.7), 0 0 20px rgba(32, 58, 224, 0.5), 0 0 30px rgba(32, 58, 224, 0.3);
}
.social-icon.twitter:hover{
    box-shadow: 0 0 10px rgba(6, 116, 185, 0.7), 0 0 20px rgba(6, 116, 185, 0.5), 0 0 30px rgba(6, 116, 185, 0.3);
}
.social-icon.github:hover{
    box-shadow: 0 0 10px rgba(246, 42, 110, 0.7), 0 0 20px rgba(246, 42, 110, 0.5), 0 0 30px rgba(246, 42, 110, 0.3);
}

@media only screen and (max-width: 600px){
    
}
